@import url('reset.css');

body{
    font-family: arial;
    background-color: #fff;
    width: 100%;
    background-image: url('./img/bodybackground.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/* ------------------------top */

.top{
    background-color: #BCEE69;
    overflow: hidden;
    margin: 0 auto ;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 450px;
    display:inline-block;
}

.logo img{
    float:left;
    width: 80px;
    padding: 10px 10px 10px 15px;
}

.top-text{
    margin-top: 30px;
}

.logo h3{
    font-size: 24px;
    color:#525252;
}

.logo p{
    font-size: 16px;
    color:#525252;
    margin-top: 5px;
}

.button{
    float:right;
    width: 600px;
    margin-top: 15px;
    margin-right: 20px;
}

.top-button1{
    float:right;
    margin-top: 10px;    
}

.top-button1 a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    border:#88D84A solid 3px;
    padding: 7px;
    border-radius: 20px;
}

.top-button1 a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.top-button1 img{
    width: 14px;
}

.top-button2{
    float:right;
    padding-top:15px;
}

.top-button2 ul{
    list-style: none;
}

.top-button2 li{
    float:left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.top-button2 a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#30900E;
    display: block;
    padding: 10px;
}

.top-button2 a:hover{
    color:#fff;
}


/* ------------------main */
.main{
    padding-top: 110px;
}



/* ----------------about us */
.aboutus{
    width: 800px;
    overflow: hidden;
    margin: auto;
    height: 310px;
    margin-bottom: 200px;
    margin-top: 100px;    
}

.abouttext{
    width: 300px;
    float:left;
}

.abouttext h3{
    font-size:28px ;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom:30px;
}

.abouttext p{
    font-size: 20px;
    color:#525252;
    margin-bottom: 30px;
    line-height: 1.5;
    width: 300px;
}

.aboutimg img{
    width: 450px;
    float:right;
}

/* ------------------------dean */
.dean{
    width: 800px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 100px;
}

.deantext{
    float:left;
}

.deantext h4{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
    line-height: 1.3;
}

.deantext h6{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 5px;
}

.deantext h5{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.deantext p{
    font-size: 20px;
    color:#525252;
    width: 250px;
    line-height: 2;
    width: 400px;
}

.deanimg img{
    width: 350px;
    float:right;
    padding-top: 50px;
}

/* -----------------------------company */
.company{
    width: 650px;
    margin: 0 auto 100px;
    position: relative;

}

.company h3{
    font-size:28px ;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float: left;
    padding-top: 50px;
    margin-right: 20px;
}

.company ul{
    overflow: hidden;

}

.company li{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom:#30900E solid 1px;
    width: 450px;
}


.company h5{
    display:inline-block;
    background-color: #AEF476;
    font-size: 20px;
    font-weight: bold;
    color:white;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}

.company p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-left: 30px;
}

.companylogo img{
    width: 100px;
    position:absolute;
    top: 100px;
}

/* ---------------------------------------------environment */
.environment{
    overflow: hidden;
    width: 650px;
    margin: 0 auto 100px;
}

.environment h3{
    font-size:28px ;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float: left;
    padding-top: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.environment ul{
    width: 650px;
    float:right;  
}

.environment li{
    display: inline-block;
    margin: 30px;
}

.environment img{
    width: 250px;
}
    

.environment p{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #AEF476;
    color:#525252;
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}



/* -------------------------------------------machine */
.machine{
    width: 600px;
    overflow: hidden;
    margin:0 auto 100px;
}

.machine h3{
    font-size:28px ;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float: left;
    padding-top: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.machine ul{
    float:right;
    margin-left: 0 ;
}

.machine li{
    float:left;
}

.machine p{
    font-size: 20px;
    background-color: #61D882;
    border:#ADF575 solid 5px;
    border-radius:20px;
    width: 70px;
    height: 70px;
    text-align: center;
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.2; 
    padding: 10px;
    margin: 20px;
}

/* ----------------------------foot */

.foot{
    background-color: #BCEE69;
    margin: 0 auto ;
    width: 100%;
    overflow:hidden;
    height: 120px;
    position: relative;

}

.infname{
    color:#525252;
    line-height: 1.2;
    margin: 20px 20px 10px;
}

.infname h3{
    font-size: 24px;
}

.infname p{
    font-size: 14px;

}

.inftext{
    float:right;
    position:absolute;
    top: 20px;;
    left: 170px;
    width: 300px;
    line-height: 1.6;
    color: #525252;
    font-size: 14px;
    margin-left: 20px;
}

.inftext img{
    width: 15px;
    float:left;
    margin-right: 10px;
}

.foot-button ul{
    float:right;
    margin-right: 10px;
}

.foot-button li{
    float:left;
    margin-left: 10px;
}

.foot-button a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.foot-button a:hover{
    color:#fff;
}

