@import url('reset.css');

body{
    font-family: arial;
    background-color: #fff;
    width: 100%;
    background-image: url('./img/bodybackground.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/* ------------------------top */

.top{
    background-color: #BCEE69;
    overflow: hidden;
    margin: 0 auto ;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 450px;
    display:inline-block;
}

.logo img{
    float:left;
    width: 80px;
    padding: 10px 10px 10px 15px;
}

.top-text{
    margin-top: 30px;
}

.logo h3{
    font-size: 24px;
    color:#525252;
}

.logo p{
    font-size: 16px;
    color:#525252;
    margin-top: 5px;
}

.button{
    float:right;
    width: 600px;
    margin-top: 15px;
    margin-right: 20px;
}

.top-button1{
    float:right;
    margin-top: 10px;    
}

.top-button1 a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    border:#88D84A solid 3px;
    padding: 7px;
    border-radius: 20px;
}

.top-button1 a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.top-button1 img{
    width: 14px;
}

.top-button2{
    float:right;
    padding-top:15px;
}

.top-button2 ul{
    list-style: none;
}

.top-button2 li{
    float:left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.top-button2 a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#30900E;
    display: block;
    padding: 10px;
}

.top-button2 a:hover{
    color:#fff;
}

/* -------------------------main */

.main{
    padding-top: 120px;
    width: 800px;
    margin: 0 auto;
    overflow:hidden;
}

.information{
    width: 800px;
    margin-bottom: 100px;
    overflow: hidden;
}

.toptext{
    width: 400px;
    float:left;
    margin-bottom: 100px;
    margin-top: 100px;
}

.contact{
    margin-bottom: 50px;
}

.contact h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 50px;
}

.contact h5{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    margin-bottom: 10px;
    background-color: #AEF476;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
} 

.contact p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-left: 10px;
}

.transportation h5{
    font-size: 20x;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    margin-bottom: 10px;
    background-color: #AEF476;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.transportation p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-left: 10px;
}

.map img{
    width: 350px;
    float:right;
    margin-top: 100px;
}

/* -----------------------------------schedule */

.schedule{
    margin:0 auto 60px;
    width: 800px;
    line-height: 1.3;
}

.schedule h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 50px;
    text-align: center;
}

tr{
    text-align: center;
}

th{
    width: 120px;
    height: 30px;
    border-bottom:#d1d1d1 solid 1px;
}
table p{
    color:#fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    background-color: #AEF476;
    border-radius: 50%;
    width: 30px;
    padding: 10px;
    margin: 0 auto 20px;
    
}

.mon p{
    color:#fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    padding: 10px;
    margin: 0 auto;

}

td{
    border-bottom:#d1d1d1 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

h5 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 22px;
    color:#30900E; 
}

.close{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    color:#fff;
    background-color: red;
    border-radius: 30px;
    width: 50px;
    padding: 7px;
    margin: 0 auto;
}

.aboutbooking{
    width: 650px;
    margin: 0 auto 100px;
}

.opentime{
    margin-right: 20px;
    margin-bottom: 60px;
}

.opentime h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.opentime p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-bottom: 20px;
}


.booking{
    margin-bottom: 60px;
}

.booking h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.booking p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-bottom: 20px;
}


.bookselect{
    width: 800px;
    margin: 0 auto 100px;
    overflow: hidden;
}
.bookselecttext{
    float:left;
    margin-left: 50px;
}

.bookselect h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.bookselect p{
    width: 400px;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    color:rgb(202, 26, 26);
    line-height: 1.6;
    margin-bottom: 50px;
}

.day{
    margin-bottom: 20px;
}

.day h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.day select{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 250px;
    padding: 7px;
    border-radius: 20px;
}


.time{
    margin-bottom: 20px;
}

.time h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.time select{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 250px;
    padding: 7px;
    border-radius: 20px;
}


.doctor{
    margin-bottom: 20px;
}

.doctor h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.doctor select{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 250px;
    padding: 7px;
    border-radius: 20px;
}

.firsttimeornot{
    margin-bottom: 20px;
}

.firsttimeornot h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.firsttimeornot select{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 250px;
    padding: 7px;
    border-radius: 20px;
}

.phonenumber{
    margin-bottom: 20px;
}

.phonenumber h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.phonenumber input{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 240px;
    padding: 7px;
    border-radius: 20px;
    border:grey solid 1px;
}

.name{
    margin-bottom: 20px;
}

.name h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.name input{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 240px;
    padding: 7px;
    border-radius: 20px;
    border:grey solid 1px;
}

.animalsname{
    margin-bottom: 20px;
}

.animalsname h4{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#525252;
    display: inline-block;
}

.animalsname input{
    margin:10px;  
    font-size: 16px;
    color:#525252;
    width: 240px;
    padding: 7px;
    border-radius: 20px;
    border:grey solid 1px;
}

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 100px;
}

  input[type=submit]:hover {
    font-weight: bold;
    background-color: #88D84A;
  }

.bookselect img{
    float:right;
    width: 300px;
    margin-top: 150px;
}

/* ----------------------------foot */

.foot{
    background-color: #BCEE69;
    margin: 0 auto ;
    width: 100%;
    overflow:hidden;
    height: 130px;
    position: relative;

}

.infname{
    color:#525252;
    line-height: 1.2;
    margin: 20px 20px 10px;
}

.infname h3{
    font-size: 24px;
}

.infname p{
    font-size: 14px;

}

.inftext{
    float:right;
    position:absolute;
    top: 20px;;
    left: 170px;
    width: 300px;
    line-height: 1.6;
    color: #525252;
    font-size: 14px;
    margin-left: 20px;
}

.inftext img{
    width: 15px;
    float:left;
    margin-right: 10px;
}

.foot-button ul{
    float:right;
    margin-right: 10px;
}

.foot-button li{
    float:left;
    margin-left: 10px;
}

.foot-button a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.foot-button a:hover{
    color:#fff;
}

.tibame p{
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    padding-left: 20px;
    padding-top: 30px;
    color:#525252;
    
}


