@import url('reset.css');

body{
    font-family: arial;
    background-color: #fff;
    width: 100%;
    background-image: url('./img/bodybackground.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/* ------------------------top */

.top{
    background-color: #BCEE69;
    overflow: hidden;
    margin: 0 auto ;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 450px;
    display:inline-block;
}

.logo img{
    float:left;
    width: 80px;
    padding: 10px 10px 10px 15px;
}

.top-text{
    margin-top: 30px;
}

.logo h3{
    font-size: 24px;
    color:#525252;
}

.logo p{
    font-size: 16px;
    color:#525252;
    margin-top: 5px;
}

.button{
    float:right;
    width: 600px;
    margin-top: 15px;
    margin-right: 20px;
}

.top-button1{
    float:right;
    margin-top: 10px;    
}

.top-button1 a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    border:#88D84A solid 3px;
    padding: 7px;
    border-radius: 20px;
}

.top-button1 a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.top-button1 img{
    width: 14px;
}

.top-button2{
    float:right;
    padding-top:15px;
}

.top-button2 ul{
    list-style: none;
}

.top-button2 li{
    float:left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.top-button2 a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#30900E;
    display: block;
    padding: 10px;
}

.top-button2 a:hover{
    color:#fff;
}

/* -------------------------main */

.main{
    padding-top: 120px;
}

.doctors-top{
    overflow:hidden;
    width: 650px;
    margin:100px auto 100px ;
    position:relative;
}

.doctors-top h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-bottom: 30px;
}

.doctors-top img{
    float:right;
    width: 400px;
}

.division-button{
    position:absolute;
    top: 208px;
}

.division-button li{
    float:left;
}

.division-button a{
    display:block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    border:#88D84A solid 3px;
    background-color: #fff;
    padding:15px;
    border-radius:50px;
    margin-left: 30px;
    
}

.division-button a:hover{
    background-color:#88D84A ;
    color: #fff;
}

/* -----------------------------generalmedicine */

.generalmedicine{
    margin:0 auto 100px;
    border-bottom:#AEF476 solid 3px;
    width: 800px;
    padding-bottom: 30px;
    line-height: 1.6;
}

.gmintroduce{
    width: 600px;
    margin: 0 auto 60px;
}

.gmintroduce h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.gmintroduce p{
    font-size: 20px;
    color:#525252;
    margin-bottom: 60px;
}


.dean{
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.dean img{
    width: 250px;
    position: absolute;
}

.deantext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;
}

.dean li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;
}

.dean h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;
}

.dean .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.dean p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.dean h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}

.lin{
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.lin img{
    width: 250px;
    position: absolute;
}

.lintext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;
}

.lin li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;
}

.lin h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;
}

.lin .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.lin p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.lin h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}


.min{
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.min img{
    width: 250px;
    position: absolute;
}

.mintext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;
}

.min li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;
}

.min h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;
}

.min .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.min p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.min h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}


/* ---------------------------------------generalsurgery */

.generalsurgery{
    margin:0 auto 100px;
    border-bottom:#AEF476 solid 3px;
    width: 800px;
    padding-bottom: 30px;
    line-height: 1.6;
}

.gsintroduce{
    width: 600px;
    margin: 0 auto 60px;
}

.gsintroduce h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.gsintroduce p{
    font-size: 20px;
    color:#525252;
    line-height: 1.5;
    margin-bottom: 60px;
}


.lee{
    width: 800px;
    margin: 0 auto;
    position: relative;}

.lee img{
    width: 250px;
    position: absolute;}

.leetext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;}

.lee li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;}

.lee h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;}

.lee .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.lee p{font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.lee h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}


.chu{
    width: 800px;
    margin: 0 auto;
    position: relative;}

.chu img{
    width: 250px;
    position: absolute;}

.chutext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;}

.chu li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;}

.chu h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;
}

.chu .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.chu p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.chu h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}

/* -----------------------cardiology */


.cardiology{
    margin:0 auto 100px;
    border-bottom:#AEF476 solid 3px;
    width: 800px;
    padding-bottom: 30px;
    line-height: 1.6;
}

.cardiologyintroduce{
    width: 600px;
    margin: 0 auto 60px;
}

.cardiologyintroduce h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.cardiologyintroduce p{
    font-size: 20px;
    color:#525252;
    line-height: 1.5;
    margin-bottom: 60px;
}


.feng{
    width: 800px;
    margin: 0 auto;
    position: relative;}

.feng img{
    width: 250px;
    position: absolute;}

.fengtext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;}

.feng li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;}

.feng h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;}

.feng .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.feng p{font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.feng h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}


.tim{
    width: 800px;
    margin: 0 auto;
    position: relative;}

.tim img{
    width: 250px;
    position: absolute;}

.timtext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;}

.tim li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;}

.tim h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;
}

.tim .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.tim p{
    font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.tim h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}

/* ----------------------------dental */

.dental{
    margin:0 auto 100px;
    border-bottom:#AEF476 solid 3px;
    width: 800px;
    padding-bottom: 30px;
    line-height: 1.6;
}

.dentistintroduce{
    width: 600px;
    margin: 0 auto 60px;
}

.dentistintroduce h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.dentistintroduce p{
    font-size: 20px;
    color:#525252;
    line-height: 1.5;
    margin-bottom: 60px;
}


.chang{
    width: 800px;
    margin: 0 auto;
    position: relative;}

.chang img{
    width: 250px;
    position: absolute;}

.changtext{
    width: 420px;
    margin-left: 300px;
    margin-bottom: 60px;}

.chang li{
    border-bottom:#30900E solid 1px;
    padding-top: 15px;}

.chang h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    display: inline-block;
    margin-right: 20px;}

.chang .title{
    font-size: 20px;
    color: #30900E;
    margin-bottom: 15px;
}

.chang p{font-size: 20px;
    color:#525252;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.chang h5{
    background-color:#AEF476;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#fff;
    border-radius:50px;
    width: 80px;
    text-align: center;
    padding: 10px;
    display:inline-block;
    margin-bottom:15px;
}


/* -----------------------------------schedule */

.schedule{
    margin:0 auto 60px;
    width: 800px;
    line-height: 1.3;
}

.schedule h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 50px;
    text-align: center;


}



tr{
    text-align: center;
}

th{
    width: 120px;
    height: 30px;
    border-bottom:#d1d1d1 solid 1px;
}
table p{
    color:#fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    background-color: #AEF476;
    border-radius: 50%;
    width: 30px;
    padding: 10px;
    margin: 0 auto 20px;
    
}

.mon p{
    color:#fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    padding: 10px;
    margin: 0 auto;

}

td{
    border-bottom:#d1d1d1 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

h5 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 22px;
    color:#30900E; 
}

.close{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    color:#fff;
    background-color: red;
    border-radius: 30px;
    width: 50px;
    padding: 7px;
    margin: 0 auto;
}

.aboutbooking{
    width: 650px;
    margin: 0 auto 100px;
}

.opentime{
    margin-right: 20px;
    margin-bottom: 60px;
}

.opentime h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.opentime p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-bottom: 20px;
}


.booking{
    margin-bottom: 60px;
}

.booking h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.booking p{
    font-size: 18px;
    color:#525252;
    line-height: 1.6;
    margin-bottom: 20px;
}



/* ----------------------------foot */

.foot{
    background-color: #BCEE69;
    margin: 0 auto ;
    width: 100%;
    overflow:hidden;
    height: 120px;
    position: relative;

}

.infname{
    color:#525252;
    line-height: 1.2;
    margin: 20px 20px 10px;
}

.infname h3{
    font-size: 24px;
}

.infname p{
    font-size: 14px;

}

.inftext{
    float:right;
    position:absolute;
    top: 20px;;
    left: 170px;
    width: 300px;
    line-height: 1.6;
    color: #525252;
    font-size: 14px;
    margin-left: 20px;
}

.inftext img{
    width: 15px;
    float:left;
    margin-right: 10px;
}

.foot-button ul{
    float:right;
    margin-right: 10px;
}

.foot-button li{
    float:left;
    margin-left: 10px;
}

.foot-button a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.foot-button a:hover{
    color:#fff;
}

