@import url('reset.css');

body{
    font-family: arial;
    background-color: #fff;
    width: 100%;
    background-image: url('./img/bodybackground.png');
    background-size: contain;
    background-repeat: repeat-y;

}

/* ------------------------top */

.top{
    background-color: #BCEE69;
    /* opacity: 0.8; */
    overflow: hidden;
    margin: 0 auto ;
    position:fixed;
    width: 100%;
    z-index: 1;


}

.logo{
    width: 450px;
    display:inline-block;
}

.logo img{
    float:left;
    width: 80px;
    padding: 10px 10px 10px 15px;
}
.top-text{
    margin-top: 30px;
}

.logo h3{
    font-size: 24px;
    color:#525252;
    
}

.logo p{
    font-size: 16px;
    color:#525252;
    margin-top: 5px;
    
}

.button{
    float:right;
    width: 600px;
    margin-top: 15px;
    margin-right: 20px;

}
.top-button1{
    float:right;
    margin-top: 10px;    
}

.top-button1 a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    border:#88D84A solid 3px;
    padding: 7px;
    border-radius: 20px;
    
}

.top-button1 a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.top-button1 img{
    width: 14px;
}

.top-button2{
    float:right;
    padding-top:15px;
}

.top-button2 ul{
    list-style: none;
    

}

.top-button2 li{
    float:left;
    margin-left: 10px;
    padding-bottom: 10px;
    
}

.top-button2 a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#30900E;
    display: block;
    padding: 10px;
}

.top-button2 a:hover{
    color:#fff;
}


/* -------------------------main */
.main{
    padding-top: 100px;
}

/* ------------------------banner */

.banner{
    position:relative;
}


.banner img{
    width: 100%;
}

.banner h1{
    font-size: 36px;
    color:#525252;
  
    position:absolute;
    top:210px;
    left:630px;
    text-align: center;
    line-height: 1.3;
}




/* --------------------------about us */

.about-us{
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 100px;

}

.about-us h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin-bottom: 30px;
}

.about-us p{
    font-size: 20px;
    color:#525252;
    margin-bottom: 30px;
    line-height: 2;
}

.about-us a{
    display:block;
    width: 80px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 20px;
    border:#88D84A solid 3px;
    padding: 15px;
    border-radius: 50px;
    margin-left:400px;
    
}

.about-us a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.catunderaboutus{
    width: 800px;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}

/* -------------------------news */

.news{
    width: 700px;
    margin: 0 auto 100px;
    overflow: hidden;
}

.news h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    padding-top: 50px;
    margin-right: 20px;
}

.news ul{
    overflow: hidden;
}


.news li{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom:#30900E solid 1px;
    width: 700px;
}

.news li a:hover{
    color:rgb(38, 38, 155);
    font-weight: bold;
}

.news p{
    display:inline-block;
    background-color: #AEF476;
    font-size: 20px;
    font-weight: bold;
    color:white;
    padding:10px;
    border-radius: 20px;
    
}

.news a{
    text-decoration: none;
    font-size: 20px;
    color:#525252;
    margin-left: 30px;
}

.morenews{
    margin-left: 80px;
}

.morenews a{
    margin-top: 50px;
    display:block;
    width: 120px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: #30900E;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    border:#88D84A solid 3px;
    padding: 15px;
    border-radius: 50px;   
    margin-left: 460px; 
}

.morenews a:hover{
    background-color:#88D84A ;
    color: #fff;
}

/* -----------------------service */

.service{
    margin: 0 auto;
    width: 650px;
    overflow: hidden;
    margin-bottom: 100px;
}

.service h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
}

.service ul{
    float:right;
}

.service li{
    float:left;
    margin-left: 50px;
    margin-top: 50px;
}

.service img{
    height: 100px;
}

.service p{
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #525252;
    margin-top: 20px;
}

.service-content{
    overflow: hidden;
    margin: 0 auto 100px;
    width: 650px;
}

.service-content h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    
}

.service-content ul{
    float:right;
}

.service-content li{
    float:left;
    margin-top: 50px;
}

.service-content p{
    font-size: 24px;
    background-color: #61D882;
    border:#ADF575 solid 5px;
    border-radius:20px;
    width: 60px;
    text-align: center;
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.2;
    padding: 10px;
    margin-left: 30px;
    
}

/* -------------------------doctor */

.doctor{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.doctor-text{
    width: 450px;
    display: inline-block;
    padding-left: 70px;
}

.doctor h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    padding-top: 50px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.doctor p{
    color:#525252;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 30px;
    
}

.doctor img{
    width: 200px;
    float: right;
    padding-top: 40px;
}

.moredoctor{
    width: 100px;
    clear:both;
    
}

.moredoctor a{
    display:block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: #30900E;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    border:#88D84A solid 3px;
    padding: 15px;
    border-radius: 50px; 
    margin-left: 310px;   
}

.moredoctor a:hover{
    background-color:#88D84A ;
    color: #fff;
}


/* -------------------------feature */

.feature{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.feature h3{
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    padding-top: 50px;
    padding-right: 10px;
    margin-bottom: 30px;
    width: 200px;
}

.feature ul{
    overflow: hidden;
    /* margin-left: 90px; */

}

.feature li{
    width: 200px;
    height: 250px;
    border:#ADF575 solid 3px;
    border-radius: 20px;
    float:left;
    padding: 30px 10px 0;
    
    margin-left: 30px;
    margin-bottom: 30px;


}

.feature img{
    width: 80px;
    padding-left: 60px;

}

.feature p{
    color:#525252;
    font-size: 16px;
    line-height: 1.5;
    width: 200px;
    margin: 10px auto 30px;
}


/* ----------------------------foot */

.foot{
    background-color: #BCEE69;
    margin: 0 auto ;
    width: 100%;
    overflow:hidden;
    height: 120px;
    position: relative;

}

.infname{
    color:#525252;
    line-height: 1.2;
    margin: 20px 20px 10px;
}

.infname h3{
    font-size: 24px;
}

.infname p{
    font-size: 14px;

}

.inftext{
    float:right;
    position:absolute;
    top: 20px;;
    left: 170px;
    width: 300px;
    line-height: 1.6;
    color: #525252;
    font-size: 14px;
    margin-left: 20px;
}

.inftext img{
    width: 15px;
    float:left;
    margin-right: 10px;
}

.foot-button ul{
    float:right;
    margin-right: 10px;
}

.foot-button li{
    float:left;
    margin-left: 10px;
}

.foot-button a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.foot-button a:hover{
    color:#fff;
}

