@import url('reset.css');

body{
    font-family: arial;
    background-color: #fff;
    width: 100%;
    background-image: url('./img/bodybackground.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/* ------------------------top */

.top{
    background-color: #BCEE69;
    overflow: hidden;
    margin: 0 auto ;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 450px;
    display:inline-block;
}

.logo img{
    float:left;
    width: 80px;
    padding: 10px 10px 10px 15px;
}

.top-text{
    margin-top: 30px;
}

.logo h3{
    font-size: 24px;
    color:#525252;
}

.logo p{
    font-size: 16px;
    color:#525252;
    margin-top: 5px;
}

.button{
    float:right;
    width: 600px;
    margin-top: 15px;
    margin-right: 20px;
}

.top-button1{
    float:right;
    margin-top: 10px;    
}

.top-button1 a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    border:#88D84A solid 3px;
    padding: 7px;
    border-radius: 20px;
}

.top-button1 a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.top-button1 img{
    width: 14px;
}

.top-button2{
    float:right;
    padding-top:15px;
}

.top-button2 ul{
    list-style: none;
}

.top-button2 li{
    float:left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.top-button2 a{
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#30900E;
    display: block;
    padding: 10px;
}

.top-button2 a:hover{
    color:#fff;
}

/* -------------------------main */

.main{
    width: 800px;
    padding-top: 200px;
    margin: 0 auto;
    
}

.main>h3{
    width: 600px;
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    margin: 0 auto 60px;
}

.rookie{
    width: 600px;
    background-color: #BAFFB9;
    margin: 0 auto;
    border-radius: 50px;
}

.title{
    text-align: center;
    padding-top: 50px;
}

.title h4{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    padding-bottom: 10px;
    
}

.title p{
    font-size: 18px;
    color:#525252;
    padding-bottom: 50px;
}

.booking{
    overflow: hidden;
    position: relative;
    height: 180px;
}

.booking h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.booking h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.booking p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.bookingbutton{
    position:absolute;
    top:110px;
    left:130px;
}

.bookingbutton a{
    text-decoration: none;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 14px;
    border:#88D84A solid 3px;
    padding: 5px;
    border-radius: 20px;
}

.bookingbutton a:hover{
    background-color:#88D84A ;
    color: #fff;
}

.bookingbutton img{
    width: 12px;
}

.write{
    overflow: hidden;
    position: relative;
    height: 180px;
    margin-top: 30px;
}

.write h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.write h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.write p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.facetoface{
    overflow: hidden;
    position: relative;
    height: 180px;
}

.facetoface h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.facetoface h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.facetoface p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.examine{
    overflow: hidden;
    position: relative;
    height: 180px;
}

.examine h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.examine h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.examine p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.talk{overflow: hidden;
    position: relative;
    height: 180px;
}

.talk h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.talk h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.talk p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.total{
    overflow: hidden;
    position: relative;
    height: 150px;
}

.total h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color:#FFFBA6;
    width: 60px;
    height: 60px;
    text-align: center ;
    line-height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float:left;
}

.total h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    float:left;
    margin-left: 20px;
}

.total p{
    font-size: 16px;
    color:#525252;
    float:left;
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.6;
}

.qa{
    margin: 150px auto 0;
    width: 600px;
}

.q1{
    margin-bottom: 50px;
    border-bottom: 1px solid #88D84A;
    padding-bottom: 30px;
}

.q1 h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color: #FFFBA6;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.q1 p{
    font-size: 16px;
    color:#525252;  
    width:500px;
    line-height: 1.6;
    margin: 20px auto 0;
}

.q2{
    margin-bottom: 50px;
    border-bottom: 1px solid #88D84A;
    padding-bottom: 30px;
}

.q2 h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color: #FFFBA6;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.q2 p{
    font-size: 16px;
    color:#525252;  
    width:500px;
    line-height: 1.6;
    margin: 20px auto 0;}

.q3{
    margin-bottom: 50px;
    border-bottom: 1px solid #88D84A;
    padding-bottom: 30px;
}

.q3 h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color: #FFFBA6;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.q3 p{
    font-size: 16px;
    color:#525252;  
    width:500px;
    line-height: 1.6;
    margin: 20px auto 0;
}

.q4{
    margin-bottom: 50px;
    border-bottom: 1px solid #88D84A;
    padding-bottom: 30px;
}

.q4 h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color: #FFFBA6;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.q4 p{
    font-size: 16px;
    color:#525252;  
    width:500px;
    line-height: 1.6;
    margin: 20px auto 0;
}

.q5{
    margin-bottom: 50px;
    border-bottom: 1px solid #88D84A;
    padding-bottom: 30px;
}

.q5 h3{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color:#30900E;
    background-color: #FFFBA6;
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
}

.q5 p{
    font-size: 16px;
    color:#525252;  
    width:500px;
    line-height: 1.6;
    margin: 20px auto 0;
}


























/* ----------------------------foot */

.foot{
    background-color: #BCEE69;
    margin: 0 auto ;
    width: 100%;
    overflow:hidden;
    height: 120px;
    position: relative;

}

.infname{
    color:#525252;
    line-height: 1.2;
    margin: 20px 20px 10px;
}

.infname h3{
    font-size: 24px;
}

.infname p{
    font-size: 14px;

}

.inftext{
    float:right;
    position:absolute;
    top: 20px;;
    left: 170px;
    width: 300px;
    line-height: 1.6;
    color: #525252;
    font-size: 14px;
    /* font-family: 'Noto Sans TC', sans-serif; */
    margin-left: 20px;
}

.inftext img{
    width: 15px;
    float:left;
    margin-right: 10px;
}

.foot-button ul{
    float:right;
    margin-right: 10px;
}

.foot-button li{
    float:left;
    margin-left: 10px;
}

.foot-button a{
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #30900E;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.foot-button a:hover{
    color:#fff;
}

